body{
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
    background-image: url(/Nature2.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
}
div.container{
    color: rgb(10, 10, 8);
    position: relative;
    border: 1px solid rgb(100, 94, 94);
    background-color: rgb(255, 255, 255,0.8);
    padding: 0px 10px;
    text-align: center;
    
}
button{
    background-color: rgb(138, 74, 74,0.8);
    margin-bottom: 7px;
    font-size: 20px;
    color: rgb(248, 252, 5);
    border-radius: 5px;
    cursor: pointer;
    border: none;
    outline: none;
}
button:hover{
    background-color: rgb(99, 151, 151);
    border: none;
    outline: none;
}